<div class="d-flex flex-column text-center" style="margin-top:0.25cm;margin-bottom: 0.25cm;">
	<h2><%= @i18n["education-title"]%></h2>
	<% colors=["lightgray", "darkergray"] %>
	<% color_index=0 %>

	<% @education.each do |diploma| %>
	<% color_index = color_index+1 %>
	<% color = colors[color_index%2] %>
	<div class="<%= color %> d-flex flex-row content-entry-line align-items-center justify-content-center">
		<p><span class="title"><%= diploma["diploma-name"] %></span>, <span class="font-italic"><%= @i18n["education-specialized-text"] %> <%= diploma["specialization-name"] %></span> <%= @i18n["at"] %> <%= diploma["school-name"] %></p>
	</div>
	<div class="<%= color %> d-flex flex-row content-entry-line">
		<i class="icon ion-calendar"></i><p><%= @i18n["education-graduated-text"] %> <%= diploma["graduation-year"] %></p>
		<div style="flex:1;"></div>	<!--flex:1 here in code is dirty but bootstrap doesn't seem to provide class to set strech proportions-->
		<i class="icon ion-location"></i><p class="text-right text-nowrap font-italic"><%= diploma["school-postal-address"] %></p>
	</div>
	<% unless diploma["description"].nil? %>
		<div class="<%= color %> d-flex flex-column content-entry-line">
			<p class="text-justify description about-school"><i class="icon ion-information-circled"></i><%= diploma["description"] %></p>
		</div>
	<% end %>
	<% end %>
</div>